*{
    text-align: center;
    font-family: "Jacquard 24", system-ui;
    font-weight: 560;
    font-style: normal;
}


#board{
    background-color: rgb(168, 182, 182);
    border-bottom: 1px solid black;
    background-image: url('../assets/background.jpg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
}