*{
    text-align: center;
    font-family: "Jacquard 24", system-ui;
    font-weight: 500;
    font-style: normal;
}


#board{
    background-color: rgb(168, 182, 182);
    border-bottom: 1px solid black;
}